@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
    --blue: #3e8fa0;
    --gray: #333;
    --dark-gray: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:active, :hover, :focus {
    outline: none;
    outline-offset: 0;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    outline: none;
    border: none;
    -ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

body, html {
    background: var(--gray);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--dark-gray);
    color: #fff;
    padding: 15px 35px;
    position: fixed;
    left: 0;
    top: 0;
}

.header__filter {
    position: relative;
    left: 30px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.header__search {
    position: relative;
    width: 70%;
}

.header__input {
    color: black;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
    padding-right: 40px;
}
.header__input:focus {
    outline: 2px solid var(--blue);
}
.header__input::placeholder {
    font-size: 14px;
    font-weight: 300;
}

.header__btn-close {
    position: absolute;
    right: 5px;
    top: 7px;
    font-size: 30px;
    z-index: 2;
    color: var(--gray);
    cursor: pointer;
    transition: all 0.2s ease;
}
.header__btn-close:hover {
    color: var(--blue)
}

.header__title {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}
.header__title:hover {
    transform: scale(1.05);
    color: var(--blue);
}
.header__title:hover .header__letter {
    color: #fff;
}

.header__letter {
    color: var(--blue)
}

.header__btn-add {
    font-size: 20px;
    font-weight: 600;
    padding: 0 20px;
    transition: all 0.2s ease;
}
.header__btn-add:hover {
    background: var(--blue);
    color: #fff;
}


/* Task Item */

.not-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.not-tasks__title {
    font-size: 128px;
    font-weight: 600;
    color: #fff;
}

.task__list {
    margin-top: 120px;
}

.task {
    margin: 50px auto;
    width: 800px;
    background: var(--blue);
    color: #fff;
}

.task__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    background: var(--dark-gray);
    padding: 10px 15px;
}

.task__title {
    width: 80%;
    overflow: hidden;
}

.task__body {
    padding: 15px;
    max-height: calc(200px - 15px);
    overflow: hidden;
}

.task__btn-delete, .task__btn-edit {
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.2s ease;
}
.task__btn-delete:hover, .task__btn-edit:hover {
    color: var(--blue);
}


/* Modal */

.modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    background: #fff;
    width: 500px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
    background: var(--dark-gray);
    padding: 10px 15px;
    color: white;
}

.modal__header .task__btn-delete {
    position: absolute;
    top: 5px;
    right: 5px;
}

.modal__title {
    width: 80%;
    overflow: hidden;
    margin-bottom: 10px;
}

.modal__body {
    background: var(--blue);
    padding: 10px;
}

.modal__item {
    margin-bottom: 10px;
}

.modal__label {
    font-weight: 600;
    font-size: 12px;
    margin-left: 5px;
    color: #fff;
}
.modal__label.error {
    color: red;
}

.modal__input, .modal__textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: black;
    outline: none;
    border: none;
}

.modal__textarea {
    height: 200px;
    line-height: 1.5;
}

.modal__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__btn-add {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 20px;
    transition: all 0.2s ease;
}
.modal__btn-add:hover {
    background: var(--dark-gray);
    color: #fff;
}

/* Choices */

.choices {
    width: 100%;
    color: black;
    font-weight: 600;
}

/* Selected option */
.choices__inner {
    font-size: 16px;
}

.choices__placeholder {
    opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
    display: none;
}

/* Options */
.choices__list--dropdown .choices__item--selectable, 
.choices__list[aria-expanded] .choices__item--selectable {
    padding: 10px;
    outline: none;
    font-size: 14px;
}

.is-selected {
    display: none;
}


/* CSSTransition */

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}
.alert-eneter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}


@media (max-width: 1300px) {
    .choices__inner  {
        font-size: 12px;
        font-weight: 600;
    }

    .choices__list--dropdown .choices__item--selectable, 
    .choices__list[aria-expanded] .choices__item--selectable {
        font-size: 10px;
    }

    .header__filter {
        width: 600px;
        left: -5px;
    }
}

@media (max-width: 1000px) {
    .header__filter {
        width: 450px;
        left: -5px;
    }

    .header__search {
        width: 65%;
    }

    .header__select {
        width: 32%;
    }

    .header__btn-add {
        font-size: 12px;
    }

    .task {
        width: 600px;
    }
}

@media (max-width: 800px) {
    .header {
        padding: 10px 15px;
    }

    .header__title {
        font-size: 30px;
        padding: 0;
    }

    .header__filter {
        width: 400px;
    }

    .header__search {
        width: 60%;
    }

    .header__select {
        width: 37%;
    }

    .header__input {
        font-size: 12px;
        padding: 10px;
    }

    .header__btn-add {
        padding: 0px 15px;
    }

    .task {
        width: 500px;
    }
}